<%= form_for @job do |f| %>
  <h3>Job Title<h3>
  <%= f.text_area :name %>
  <br>
  <br>
  <h3>Description</h3>
  <%= f.text_area :description %>
  <br>
  <br>
  <h3>Location</h3>
  <%= f.text_field :location %>
  <br>
  <br>
  <h3>Requirements</h3>
  <%= f.text_area :requirements %>
  <br>
  <br>
  <h3>Compensation</h3>
  <%= f.text_field :compensation %>
  <br>
  <br>
  <h3>Duration</h3>
  <%= f.text_field :duration %>
  <br>
  <br>
  <h3>Schedule</h3>
  <%= f.text_field :schedule %>
  <br>
  <br>
  <h3>Field of Work</h3>
  <%= f.text_field :field_of_work %>
  <br>
  <br>
  <h3>Contact Info</h3>
  <%= f.text_field :contact_info %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
