<h1>Welcome, <%= @user.first_name %>!</h1>

  
  <%= link_to "Find a Job", jobs_path %>
  <br>
  <%= link_to "Find an Event", events_path %>
  <br>
  <%= link_to "Create a Job", new_job_path %>
  <br>
  <%= link_to "Create an Event", new_event_path %>
  <br>
  <%= link_to "Hosted Jobs", hosted_jobs_path %>
  <br>
  <%= link_to "Hosted Events", hosted_events_path  %>
  <br>
  <%= link_to "Active Applications", user_applications_path(@user) %>
  <br>
  <#%= link_to "Active Event Registrations", user_registrations_path %>
  <br>
  <%= link_to "Edit Profile", edit_user_path %>