<h2>Upcoming Events</h2>

<%= form_tag search_path, method: 'get' do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<% Event.all.each do |e| %>
<br>
<br>
<%= link_to e.name, event_path(e) %>
<br>
<br>
Posted at: <%= e.created_at %>
<% end %>