<h1>Event Name:</h1>
<%= @event.name %>
<br>
<br>
<h3>Description:</h3>
<%= @event.description %>
<br>
<br>
<h3>Agenda:</h3>
<%= @event.agenda %>
<br>
<br>
<h3>Event Time:</h3>
<%= @event.event_time %>
<br>
<br>
<% if current_user.id == @event.user_id %>
<%= button_to 'Edit Event', edit_event_path(@event), class: 'btn btn-danger', method: :get %>
<%= button_to 'Delete Event', event_path(@event), class: 'btn btn-danger', method: :delete %>
<% else %>
<%= button_to 'Submit Registration', submit_registration_path(@event), class: 'btn btn-danger', method: :post %>
<% end %>