<h3>Host</h3>
<%= @event.host_name %>
<br>
<br>
<h3>Event Name</h3>
<%= @event.name %>
<br>
<br>
<h3>Description</h3>
<%= @event.description %>
<br>
<br>
<h3>Agenda</h3>
<%= @event.agenda %>
<br>
<br>
<h3>Event Time</h3>
<%= @event.event_time %>
<br>
<br>
<% if current_user.id == @event.user_id %>
  <%= button_to 'Edit Event', edit_event_path(@event), class: 'btn btn-danger', method: :get %>
  <%= button_to 'Delete Event', event_path(@event), class: 'btn btn-danger', method: :delete %>
  <br>
  <br>

  <h3> Current Registrants </h3>
  <br>
  <br>
  <% @event.event_registrations.each do |event_registration| %>
  <table>
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Phone Number</th>
  </tr>
  <tr>
    <td><%= event_registration.attendee.name %></td>
    <td><%= event_registration.attendee.email %></td>
    <td><%= event_registration.attendee.phone_number %></td>
  </tr>
</table>
   <% end %>

<% else %>

  <% unless current_user.events_registered.include?(@event) %>
  
<%= button_to 'Submit Registration', submit_registration_path(@event), class: 'btn btn-danger', method: :post %>
  <% end %>
<% end %>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>